<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class"> com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/deshaw</property>
		<property name="connection.username">root</property>
		<property name="connection.password">deshaw</property>

		<!-- JDBC connection pool (use the built-in) -->
		<!--property name="connection.pool_size">1</property-->

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- <property name="hibernate.dialect"> org.hibernate.spatial.dialect.postgis.PostgisDialect</property> -->
		
		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
        
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
        <property name="hibernate.c3p0.preferredTestQuery">SELECT 1</property>
        <property name="hibernate.c3p0.numHelperThreads">5</property>
        <property name="hibernate.c3p0.unreturnedConnectionTimeout">90</property>
        <property name="hibernate.c3p0.maxConnectionAge">1800</property>
        <property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.id.new_generator_mappings">true</property>

		<property name="hibernate.transaction.coordinator_class">jdbc</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name ="hibernate.jdbc.batch_size">50</property>
		<!-- <property name="hibernate.dialect">biodiv.common.MyPostgreSQL95Dialect</property> -->
		
		<!-- Mappings -->
		<!-- mapping package="biodiv"/ -->
		
		<!-- <mapping class="biodiv.comment.Comment" />  -->
		<mapping class="biodiv.deshaw.DataListing" />
		<mapping class="biodiv.deshaw.CompanyListing" />
		
	</session-factory>

</hibernate-configuration>
