<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>


	<logger name="com.mchange" level="WARN" additivity="false"></logger>
	<logger name="org.hibernate" level="ALL" additivity="false"></logger>
	<logger name="com.mchange" level="WARN" additivity="false"></logger>
	<logger name="org.glassfish.hk2" level="ALL" additivity="false"></logger>
	
	<logger name="biodiv.*" level="ALL" additivity="false"></logger>

	<logger name="org.pac4j.*" level="DEBUG" additivity="false" />
	<logger name="com.github.scribejava.*" level="DEBUG" additivity="false" />

	<!-- logger name="org.springframework.security" level="ALL" additivity="false"/ -->

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>